<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="DAP Admin API by the_spatial">
    <meta name="keywords" content="flask; api">
    <meta name="author" content="Daniel Caparros Midwood daniel.c.midwood@gmail.com">
    <meta name="copyright" content="@the_spatial 2022">
    <meta name="abstract" content="Application for managing the DAP Admin database; managing projects, workpacks, users, and user roles">
    <link rel="icon" source="dapbackend/dap-backend-logo.png"/>
	
    <title>{% block title %}{% endblock %} - DAP Backend by ©the_spatial</title>

</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock %}
</body>
</html>